################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RabbitMQExample/v16
/obj
/bin/Debug/netcoreapp3.1
